{% extends 'home_base.html' %}
{# Extends the 'home_base.html' template #}

{% import "bootstrap/wtf.html" as wtf %}
{# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutUs.css') }}">
{% endblock %}

{% block title %}
  ISM Home
  {# Sets the title of the page to "About Us" #}
{% endblock %}


{% block content %}
  <div class="grid-container">
      <div class="gettingStarted">
        <h1 class="pt-5 pb-2">About Us</h1>
       
        {# Heading for the page #}
       
    
        <div class="usingPage">
            <h2> Purpose </h2>
            <p>In essence, this initiative endeavors to holistically support African entrepreneurs in their pursuit of sustainable business growth, community enrichment, and technological proficiency. 
              By nurturing entrepreneurial talent and fostering an ecosystem conducive to innovation and progress, we aspire to contribute meaningfully to the advancement and prosperity of African societies.</p>
            </div>
            <div class="participantPage">
            <h2>Interpretive Structural Method Explained</h2>
            <p>Interpretive Structural Modeling (ISM) is a systematic methodology used to analyze and understand complex relationships within a given problem.
              It involves a structured process where participants identify key factors affecting the issue at hand. These factors are then explored to determine how they interact and influence one another.
               ISM then builds a visual representation, effectively identifying the most critical factors and presenting the results in a clearly articulated model. 
               By prioritizing actions based on impact, ISM facilitates a clear path towards resolving complex problems. </p>
            </div>
            <div class="participantPage">
              <h2>Resources</h2>
              <p>This application was built using Flask, SQLAlchemy, and CSS</p>
              </div>
      
      </div>
       
          
          
            
      </div>
 

{% endblock %}