{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <title>Factor App</title>
</head>

<body>

{% block styles %}
    {{ super() }}
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                <h1 class="pt-5 pb-2">Dashboard</h1>
                <p class="lead">Welcome back</p>
                {{ wtf.quick_form(form) }}
                <p class="pt-5"><strong>{{ message }}</strong></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block Participant_content %}
    <h1>Add Participant</h1>

    <ul>
        <div class="content">
            <div class="form">
                <form action="#" method="POST">
                    <input type="text" name="username" id="username">
                    <input type="text" name="email" id="email">
                    <input type="text" name="f_name" id="f_name" >
                    <input type="text" name="l_name" id="l_name" >
                    <input type="text" name="job_title" id="job_title" >
                    <input type="text" name="address" id="address" >
                    <input type="text" name="state" id="state" >
                    <input type="text" name="city" id="city" >
                    <input type="text" name="zip_code" id="zip_code" >
                    <input type="text" name="country" id="country" >
                    <input type="text" name="p_type" id="p_type" >
                    <input type="text" name="telephone" id="telephone">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
        {% endfor %}
    </ul>

{% endblock %}
</body>

</html>