{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <title>Participant</title>
</head>

<body>

{% block styles %}
    {{ super() }}
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                <h1 class="pt-5 pb-2">Dashboard</h1>
                <p class="lead">Welcome back</p>
                {{ wtf.quick_form(form) }}
                <p class="pt-5"><strong>{{ message }}</strong></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block Participant_content %}
    <h1>Edit Participant</h1>

    <form action="{{ url_for('edit_participant'), username=editPart.username }}" method="post">

        <label for="username">Username</label>
        <input type="text" name="username" value="{editPart.username}"><br>

        <label for="password">Password</label>
        <input type="text" name="password" value="{editPart.password}"><br>

        <label for="f_name">First Name</label>
        <input type="text" name="f_name" value="{editPart.f_name}"><br>

        <label for="l_name">Last Name</label>
        <input type="text" name="l_name" value="{editPart.l_name}"><br>

        <label for="job_title">Job Title</label>
        <input type="text" name="job_title" value="{editPart.job_title}""><br>

        <label for="address">Address</label>
        <input type="text" name="address" value="{editPart.adddress}"><br>

        <label for="state">State</label>
        <input type="text" name="state" value="{editPart.state}"><br>

        <label for="city">City</label>
        <input type="text" name="city" value="{editPart.city}"><br>

        <label for="zip_code">Zip Code </label>
        <input type="text" name="zip_code" value="{editPart.zip_code}"><br>

        <label for="country">Country </label>
        <input type="text" name="country" value="{editPart.country}"><br>

        <label for="p_type">Type</label>
        <input type="text" name="p_type" value="{editPart.p_type}"><br>

        <label for="telephone">telephone</label>
        <input type="text" name="telephone" value="{editPart.telephone}"><br>

        <button type="submit">Save</button>
    </form>

{% endblock %}
</body>

</html>