
{% extends 'base.html' %}  {# Extends the 'base.html' template #}
{% import "bootstrap/wtf.html" as wtf %}  {# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block title %}
Participants Page  {# Sets the title of the page to "Factor Page" #}
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
            <h1 class="pt-5 pb-2">Participants Page</h1>  {# Heading for the page #}
            <p class="pt-5">{{ message }}</p>  {# Paragraph with a strong message variable #}
        </div>
    </div>
</div>

<form action="{{ url_for('ParticipantEdit', id=person.id) }}" method="post">

   
    <label for="f_name">First Name</label>
    <input type="text" name="f_name" value="{{person.f_name}}"><br>

    <label for="l_name">Last Name</label>
    <input type="text" name="l_name" value="{{person.l_name}}"><br>

    <label for="email">Email</label>
    <input type="text" name="email" value="{{person.email}}"><br>

    <label for="telephone">Telephone</label>
    <input type="text" name="telephone" value="{{person.telephone}}"><br>

    <button type="submit">Save</button>
</form>


{% endblock %}