{% extends 'base.html' %}
{# Extends the 'base.html' template #}

{% import "bootstrap/wtf.html" as wtf %}
{# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block title %}
Factor Page
{# Sets the title of the page to "Factor Page" #}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/factor.css') }}">
{% endblock %}


<link rel="stylesheet" href="factor.css">

{% block content %}
<div class="grid-container">
  <div class="factorPage">
      <h1 class="pt-5 pb-2">Factors</h1>
      <h3>Here is where you add all of your factors/issues into the application. Some examples include "High Turnover Rate", or "Bad Management". 
        Add a description, see how many votes there are, and input into the program. 
        Select edit to go back and fix any errors, or delete to remove a factor. 
        Add as many as you please! <h4>Click <a href="{{ url_for('pick_factors', num=-1) }}">here</a> to continue once you have added all factors.</h4>
      </h3>
      {# Heading for the factor page #}
  </div>
  <div class="table">
      <!-- Table of factors that include: ID, Order, Factor -->
      <table style="width: 100%">
        <!-- Table row for header-->
        <tr>
          <th>Factor</th>  
          <th>Frequency</th>    
          <th>Edit</th>
          <th>Delete</th>    
        </tr>
       
        {% for i in factor %}
      <tr>
          <td class="f_box">{{ i.title }}</td>
          <td class="f_box">{{ i.votes }}</td>
          <!-- Send to edit with id -->
          <td class="f_box">
          <br>
          <a href="{{ url_for('edit_factor',id=i.id) }}">Edit</a>
          </td>
          <!-- Send to edit with id -->
          <td class="f_box">
          <br>
          <a href="{{ url_for('delete_factor',id=i.id) }}">Delete</a>
          </td>
      </tr>
      {% endfor %}
      </table>
</div> 
<input type="file" id="fileInput" style="display: none;" accept=".csv" onchange="uploadFile(this.getAttribute('data-type'))">
    <div class="load">
      <button onclick="triggerFileInput('factor')" class="loadButton">Upload Existing File</button>
      <button type="Delete" onclick="DeleteData()">Delete All Factors</button>
    </div>

<div class = "addFact">
<h5>Add New Factor</h5>
<form action="{{ url_for('insert_factor') }}" method="post" onsubmit="return validateForm()">
  <label for="f_title"></label>
  <input type="text" name="f_title" class = "inputText" placeholder="Factor Title"><br>
  <label for="f_description"></label>
  <input type="text" name="f_description" class = "inputText" placeholder="Optional Description"><br>
  <label for="f_votes"></label>
  <input type="number" name="f_votes" class = "inputNumber" placeholder="Optional Frequency"><br>

  <button type="submit" class="save">Save</button>
</form>
</div>
<h4>Click <a href="{{ url_for('pick_factors', num=-1) }}">here</a> to continue once you have added all factors.</h4>
<script>
    function DeleteData()
    {
      let confirmDelete=confirm("Are you sure you want to delete ALL the factors; This is not reversible");
      if(confirmDelete)
      {
        window.location.href = "/deleteFactorButton";
      }
      
    }
    function triggerFileInput(type) {
      var fileInput = document.getElementById('fileInput');
      fileInput.setAttribute('data-type', type); // Set the type of data to upload
      fileInput.click();
  }
  
  function uploadFile(dataType) {
      var fileInput = document.getElementById('fileInput');
      if(fileInput.files.length > 0) {
          var formData = new FormData();
          formData.append('csv_upload', fileInput.files[0]);
          formData.append('data_type', dataType); // Include the data type in the FormData
  
          fetch('/upload_csv', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              console.log(data);
              if (data.success) {
                    window.location.reload();
                } else {
                  alert('Upload failed: ' + data.message);
                }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
  }
</script>



{% endblock %}


