{% extends 'base.html' %}  {# Extends the 'base.html' template #}
{% import "bootstrap/wtf.html" as wtf %}  {# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/factor.css') }}">
{% endblock %}

{% block title %}
Factor Page  {# Sets the title of the page to "Factor Page" #}
{% endblock %}

<link rel="stylesheet" href="factor.css">

{% block content %}
<div class="grid-container">
  <div class="factorPage">
      <h1 class="pt-5 pb-2">Factors</h1>  {# Heading for the factor page #}
  </div>
<div class="table">
      <!-- Table of factors that include: ID, Order, Factor -->
      <table style="width: 100%">
        <!-- Table row for header-->
        <tr>
          <th>ID</th>
          <th>Order</th>
          <th>Factor</th>      
          <th>Edit</th>
          <th>Delete</th>    
        </tr>
        <!-- Example placeholder until can connect toable 
        to a database to display real-time information-->
        {% for i in factor %}
      <tr>

          <td class="f_box">{{ i.id }}</td>
          <td class="f_box">{{ i.votes}}</td>
          <td class="f_box">{{ i.title }}</td>
          <!-- Send to edit with id -->
          <td class="f_box">
          <br>
          <a href="{{ url_for('edit_factor',id=i.id) }}">Edit</a>
          </td>
          <!-- Send to edit with id -->
          <td class="f_box">
          <br>
          <a href="{{ url_for('delete_factor',id=i.id) }}">Delete</a>
          </td>
      </tr>
      {% endfor %}
      </table>
</div> 

<form action="{{ url_for('insert_factor') }}" method="post" onsubmit="return validateForm()">

  <label for="f_title">Factor Title</label>
  <input type="text" name="f_title"><br>

  <label for="f_order">Order</label>
  <input type="number" name="f_order"><br>


  <button type="submit">Save</button>
</form>

{% endblock %}

<!-- <a href="{{ url_for('insert_factor')}}">
  <button>Add Factors</button>
</a> -->
<!-- 
<div class="addFactor">
  <div class="withinAdd">
      <h4> Add New Factor</h4>
        <!-- Textbox to add order of factor -->
        <!-- <label for="orderFactor"></label>
        <input type="text" id="orderFactor" name="orderFactor" placeholder="Order">
        <!-- Textbox to add factor -->
        <!-- <label for="factor"></label>
        <input type="text" id="factor" name="factor" placeholder="Factor"> -->
        <!-- Button to submit -->
        <!-- <input type="submit" value="Submit">
  </div>
</div> -->

<!-- <div class="gTP-Container">
  <p><a href="participant"><button class="goToParticipant">Go To Participants Page</button></a></p>
</div> -->

<!-- </div> --> 

