{% extends 'base.html' %}
{# Extends the 'base.html' template #}

{% import "bootstrap/wtf.html" as wtf %}
{# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block title %}
Factor Page
{# Sets the title of the page to "Factor Page" #}
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/factor.css') }}">
{% endblock %}


<link rel="stylesheet" href="factor.css">

{% block content %}
<div class="grid-container">
  <div class="factorPage">
      <h1 class="pt-5 pb-2">Factors</h1>
      {# Heading for the factor page #}
  </div>
  <div class="table">
      <!-- Table of factors that include: ID, Order, Factor -->
      <table style="width: 100%">
        <!-- Table row for header-->
        <tr>
          <th>Factor</th>  
          <th>Frequency</th>    
          <th>Edit</th>
          <th>Delete</th>    
        </tr>
       
        {% for i in factor %}
      <tr>
          <td class="f_box">{{ i.title }}</td>
          <td class="f_box">{{ i.votes }}</td>
          <!-- Send to edit with id -->
          <td class="f_box">
          <br>
          <a href="{{ url_for('edit_factor',id=i.id) }}">Edit</a>
          </td>
          <!-- Send to edit with id -->
          <td class="f_box">
          <br>
          <a href="{{ url_for('delete_factor',id=i.id) }}">Delete</a>
          </td>
      </tr>
      {% endfor %}
      </table>
</div> 
<div class = "addFact">
<h4>Add New Factor</h4>
<form action="{{ url_for('insert_factor') }}" method="post" onsubmit="return validateForm()">
  <label for="f_title"></label>
  <input type="text" name="f_title" class = "inputText" placeholder="Factor Title"><br>
  <label for="f_description"></label>
  <input type="text" name="f_description" class = "inputText" placeholder="Description"><br>
  <label for="f_votes"></label>
  <input type="number" name="f_votes" class = "inputNumber" placeholder=0><br>

  <button type="submit" class="save">Save</button>
</form>
</div>

<div>
<p><a href="{{ url_for('middleMan') }}"><button class="goToRating">Go to Rating Page</button></a></p>
</div>


{% endblock %}


