{% extends 'base.html' %}  {# Extends the 'base.html' template #}
{% import "bootstrap/wtf.html" as wtf %}  {# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block styles %}
{{ super() }}  {# Includes any styles defined in the parent template ('base.html') #}
{% endblock %}

{% block title %}
Login  {# Sets the title of the page to "Login" #}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
      <h1 class="pt-5 pb-2">Login here</h1>  {# Heading for the login page #}
      {{ wtf.quick_form(form) }}  {# Renders a quick form using the 'wtf' alias #}
      <p class="pt-5"><strong>{{ message }}</strong></p>  {# Paragraph with a strong message variable #}
    </div>
  </
