{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/participant.css') }}">
{% endblock %}

{% block title %}
Participant Page
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="partPage">
      <h1 class="pt-5 pb-2">Participants</h1>
      <h3>
        This page is for keeping track of all of the participants in the workshop. The user can enter participant information manually or upload an existing
        csv file.
        Select the Edit button to fix any errors, or the Delete button to remove a participant. 
        <h4>Click <a href="{{ url_for('factor', num=-1) }}"> here</a> to continue once all participants have been added.</h4>
      </h3>
    </div>
    <div class="table">
      <!-- Table of factors that include: ID, Order, Factor -->
      <table style="width: 100%">
        <!-- Table row for header-->
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <!-- Example placeholder until can connect to a database to display real-time information-->
        {% for i in part %}
        <tr>
            <td>{{ i.f_name }}</td>
            <td>{{ i.l_name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.telephone }}</td>
            <td>
                <!-- Send to edit with id -->
                <a href="{{ url_for('ParticipantEdit', id=i.id) }}">Edit</a>
            </td>
            <td>
              <!-- Send to delete with id -->
              <a href="{{ url_for('delete_participants', id=i.id) }}">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <input type="file" id="fileInput" style="display: none;" accept=".csv" onchange="uploadFile(this.getAttribute('data-type'))">
    <div class="load">
      <button onclick="triggerFileInput('participant')" class="loadButton">Upload Existing File</button>
      <button type="Delete" onclick="DeleteData()">Delete All</button>
    </div>

    <div class="addPart">
        <div class="withinAdd">
            <h4> Add Participant</h4>
            <form action="{{ url_for('participant') }}" method="post" onsubmit="return validateForm()">
                <label for="first"></label>
                <input type="text" id="f_name" name="f_name" placeholder="First Name"><br>
                <label for="last"></label>
                <input type="text" id="l_name" name="l_name" placeholder="Last Name"><br>
                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="Email"><br>
                <input type="text" id="telephone" name="telephone" placeholder="Phone"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>

<script>
    /**
     * Validates the email input field before submitting the form.
     * @returns {boolean} True if the email is valid, otherwise false.
     */
    function DeleteData()
    {
      let confirmDelete=confirm("Are you sure you want to delete ALL the participants; This is not reversible");
      if(confirmDelete)
      {
        window.location.href = "/deleteParticipantsButton";
      }
      
    }
    function validateForm() {
        var emailInput = document.getElementById("email");
        var emailValue = emailInput.value;

        if (!emailValue.includes("@")) {
            alert("Please enter a valid email address.");
            return false;
        }

        return true;
    }
    function triggerFileInput(type) {
      var fileInput = document.getElementById('fileInput');
      fileInput.setAttribute('data-type', type); // Set the type of data to upload
      fileInput.click();
  }
  
  function uploadFile(dataType) {
      var fileInput = document.getElementById('fileInput');
      if(fileInput.files.length > 0) {
          var formData = new FormData();
          formData.append('csv_upload', fileInput.files[0]);
          formData.append('data_type', dataType); // Include the data type in the FormData
  
          fetch('/upload_csv', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              console.log(data);
              if (data.success) {
                    window.location.reload();
                } else {
                    alert('File upload failed. Please try again.');
                }
          })
          .catch(error => {
              console.error('Error:', error);
          });
      }
  }
</script>
{% endblock %}