{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/participant.css') }}">
{% endblock %}

{% block title %}
  Participant Page
{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="partPage">
      <h1 class="pt-5 pb-2">Participants</h1>
    </div>
    <div class="table">
      <!-- Table of factors that include: ID, Order, Factor -->
      <table style="width: 100%">
        <!-- Table row for header-->
        <tr>
            <th>ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
        </tr>
        <!-- Example placeholder until can connect to a database to display real-time information-->
        {% for i in part %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.f_name }}</td>
            <td>{{ i.l_name }}</td>
            <td>{{ i.email }}</td>
            <td>{{ i.telephone }}</td>
            <td>
                <!-- Send to edit with id -->
                <a href="{{ url_for('ParticipantEdit', id=i.id) }}">Edit</a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="addPart">
        <div class="withinAdd">
            <h4> Add Participant</h4>
            <form action="{{ url_for('participant') }}" method="post" onsubmit="return validateForm()">
                <label for="first"></label>
                <input type="text" id="first" name="first" placeholder="First Name"><br>
                <label for="last"></label>
                <input type="text" id="last" name="last" placeholder="Last Name"><br>
                <label for="email"></label>
                <input type="text" id="email" name="email" placeholder="Email"><br>
                <label for="phone"></label>
                <input type="text" id="phone" name="phone" placeholder="Phone"><br>
                <!-- NEED TO CHANGE SO THE "SUBMIT" BUTTON REFRESHED THE PAGE,
                  LINK BACK TO ITSELF, OR LOOK UP HOW TO GET THE BUTTON TO SUBMIT 
                  TO DATABASE AND REFRESH THE PAGE-->
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

</div>

<script>
    function validateForm() {
        var emailInput = document.getElementById("email");
        var emailValue = emailInput.value;

        if (!emailValue.includes("@")) {
            alert("Please enter a valid email address.");
            return false;
        }

        return true;
    }
</script>
{% endblock %}