{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pick_factors.css') }}">
{% endblock %}

{% block title %}
Pick Factors
{% endblock %}

<link rel="stylesheet" href="pick_factors.css">

{% block content %}
<div class="grid-container">
  <div class="factorPage">
      <h1 class="pt-5 pb-2">Factors</h1>
      <h3>
        Here is where the user needs to slim down a long list of factors. Select a minimum of three factors to continue, or a maximum of 15.
        The Ascending/Descending buttons help with organizing the frequency of the votes. Click save when all factors that you want to use are selected!
      </h3>
  </div>
 
  <div>
    <a href="{{ url_for('pick_factors',num=1) }}" type="button" class="SortButton">Ascending</a>
  </div>
  <div>
    <a href="{{ url_for('pick_factors',num=2) }}" type="button" class="SortButton">Descending</a>
  </div>

  <form action="{{ url_for('pick_factors',num=-1) }}" method="post" onsubmit="return limitCheckboxes()">
    <div class="tables">
      <table style="width: 100%">
        <tr>
          <th></th>  
          <th>Factor</th>  
          <th>Frequency</th>  
          <th>Description</th>    
        </tr>
       
        {% for i in factor %}
          <tr>
            <td class="f_box">
              <input type="checkbox" id="{{i.id}}" name="factors" value="{{i.id}}">
              <label for="{{i.id}}"></label>
            </td>
            <td class="f_box">{{ i.title }}</td>
            <td class="f_box">{{ i.votes }}</td>
            <td class="f_box">{{ i.description }}</td>
          </tr> 
        {% endfor %} 
      </table>
    </div>
    <div class="button-container">
      <button type="submit" class="save-button">Save</button>
    </div>
  </form>
</div>

<script>
//Ensures that the users picks between 2 and 15 factors
function limitCheckboxes() 
{
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  var checkedCount = 0;
  for (var i = 0; i < checkboxes.length; i++) 
  {
    if (checkboxes[i].checked) 
    {
      checkedCount++;
    }
  }
  
  if (checkedCount > 15) 
  {
    alert("You can only pick up to 15 factors.");
    return false;
  }
  if (checkedCount <= 1) 
  {
    alert("You must pick at least 2 factors.");
    return false;
  }
}
</script>
{% endblock %}
