{% extends 'base.html' %}  {# Extends the 'base.html' template #}
{% import "bootstrap/wtf.html" as wtf %}  {# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/factor.css') }}">
{% endblock %}

{% block title %}
Factor Page  {# Sets the title of the page to "Factor Page" #}
{% endblock %}

<link rel="stylesheet" href="factor.css">

{% block content %}
<div class="grid-container">
  <div class="factorPage">
      <h1 class="pt-5 pb-2">Factors</h1>  {# Heading for the factor page #}
      <h3>
        Here is where the user needs to slim down a long list of factors. Select a minimum of three factors to continue, or a maximum of 15.
        The Ascending/Descending buttons help with organizing the frequency of the votes. Hit save when all factors are picked!

      </h3>
  </div>
 
    <div>
      <a  href="{{ url_for('pick_factors',p_id=1,num=1) }}" type="button" class="SortButton">Ascending</a>
      </div>
      <div>
        <a  href="{{ url_for('pick_factors',p_id=1,num=2) }}" type="button" class="SortButton">Descending</a>
        </div>


<p>Pick 15 factors at most!</p>
<form action="{{ url_for('pick_factors',p_id=1,num=2) }}" method="post" onsubmit="return limitCheckboxes()">
  
  <div class="table">
    <table style="width: 100%">
      <tr>
        <th></th>  
        <th>Factor</th>  
        <th>Frquency</th>  
        <th>Description</th>    
        
      </tr>
     
      {% for i in factor %}
      
        <tr>
          <td class="f_box">
        <input type="checkbox" id="{{i.id}}" name="factors" value="{{i.id}}">
        <label for="{{i.id}}">
        </td>
        <td class="f_box">{{ i.title }}</td>
        <td class="f_box">{{ i.votes }}</td>
        <td class="f_box">{{ i.description }}</td>
       </tr> 
    </label>


    <br>
      {% endfor %} 
   </select>
  </table>

      <button type="submit">Save</button>
  </form>
  </div>
        



<script>

document.getElementById("ascending").addEventListener("click", ascendingVotes);
function ascendingVotes() 
{
  $.get('/factor/1',
    function(x) 
    {

    }
  )
}
document.getElementById("desscending").addEventListener("click", descendingVotes);
function desscendingVotes() 
{
  $.get('/factor/2',
    function(x) 
    {

    }
  )
}
function limitCheckboxes() 
{
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  var checkedCount = 0;
  for (var i = 0; i < checkboxes.length; i++) 
  {
    if (checkboxes[i].checked) 
    {
      checkedCount++;
    }
  }
  
  if (checkedCount > 15) 
  {
    alert("You can only pick up to 15 factors.");
    return false;
  }
  if (checkedCount <=1) 
  {
    alert("You must pick at least 2.");
    return false;
  }
  
}
</script>
{% endblock %}
