{% extends 'base.html' %}  {# Extends the 'base.html' template #}
{% import "bootstrap/wtf.html" as wtf %}  {# Imports 'wtf.html' from the 'bootstrap' directory with an alias 'wtf' #}


{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rating.css') }}">
{% endblock %}

{% block title %}
Ratings Page  {# Sets the title of the page to "Factor Page" #}
{% endblock %}

<link rel="stylesheet" href="rating.css">

{% block content %}
<div class="grid-container">
  <div class="ratingPage">
      <h1 class="pt-5 pb-2">Rating the Factors</h1>  {# Heading for the factor page #}
  </div>

  <div class="addRating">
    <div class="ratingContainer">
        <h4>Compare Factors</h4>
        <!-- <div class="box">
          <p id="attempt1">{{p_id}}</p>
          <p id="resBtnHere"></p>
          <p id="resBtnHere2"></p>
        </div>
          <form id="myform">
            <label for="rating">Rating:</label>
            <input type="text" id="rating" name="rating">
          </form>
        <div class="buttons">

          Button to Skip
          <button class="skip" id="skip">Skip</button>

          Button to submit -->
          <!-- <button class="submit" id="submit">Submit</button> -->

          <form action="{{ url_for('insert_rating',p_id=1) }}" method="post" onsubmit="">
  
           
                </tr>
               
                {% for i in factor %}
                
                <input type="radio" id="{{}}" name="fav_language" value="{{i.}}">
                <label for="html">HTML</label><br>
              <br>
                {% endfor %} 
             </select>
           
          
                <button type="">Save</button>
            </form>
          
         
        </div>
    </div>
  </div>

  <div class="gTResults-Container">
    <p><a href="{{ url_for('result') }}"><button class="goToResult">Go To Final Results</button></a></p>
  </div>

  <div class="gTResults-Container">
    <p><a href="{{ url_for('insert_rating', p_id=-1) }}"><button class="goToMenu">Choose Next Participant</button></a></p>
  </div>

</div>
<!--Javascript so that the submit and skip button continue the iteration and also update the functions-->
<script>
 
  //Access the participant id
  var p_id = document.getElementById("attempt1").innerHTML;

  //Index for the factors
  var index=0;

  //on window load
  window.onload=function() {
  $.get('/getInfoLeading/'+p_id+'/'+index,
    function(x) 
    {
        $("#resBtnHere").html(x);
        $.get('/getInfoFollowing/'+p_id+'/'+index,
        function(x) 
        {
          $("#resBtnHere2").html(x);
          // index+=1;
       })
      })
    }
  

 
// skipButton()
//logic for the submit button
document.getElementById("submit").addEventListener("click",updateRating);
function updateRating()
{
  var rating = document.getElementById("myform").elements["rating"];
  $.get('/update_rating/'+p_id+'/'+index+'/'+rating.value,
    function(x) 
    {
      //document.getElementById("rating").innerHTML="placeholder";
    // $("#rating").html(x);
    }
  )
}
document.getElementById("skip").addEventListener("click", submitButton);
document.getElementById("submit").addEventListener("click", submitButton);
function submitButton() 
{
  $.get('/getInfoLeading/'+p_id+'/'+index,
      function(x) 
      {
        if(x!='-1')
        {
          $("#resBtnHere").html(x);
          $.get('/getInfoFollowing/'+p_id+'/'+index,
          function(x) 
          {
            if(x!='-1')
            {$("#resBtnHere2").html(x);}
          })
        }
     }
   )
  index+=1;
}

     
</script>
{% endblock %}