{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/rating.css') }}">
{% endblock %}

{% block title %}
Ratings Page
{% endblock %}

{% block content %}
<div class="grid-container">
  <div class="ratingPage">
      <h1 class="pt-5 pb-2">Rating the Factors</h1>
      <h3>Answer a few questions and proceed to the final results. 
      </h3>
  </div>

  <div class="addRating">
    <div class="ratingContainer">
        <h4>Compare Factors</h4>
        <div class="box">
          
            <div id="part">
              <p class="IDs">User ID:</p>
              <p id="partID" class="IDs">{{ user_id }}</p>
            </div>

            <p class="guide">Does the left factor affect the right factor?</p>
              <p id="fLeading" class="Factorsss"></p> <img src="{{ url_for('static', filename='Arrow.png')}}" alt="Influence arrow" height="150" width="100" id="Arrow">
             
              <p id="fFollowing" class="Factorsss"></p>
              
            </div>
          
          </div>

            <form id="myform">
              <input type="radio" name="responseYN" value=1 >Yes</input>
              <input type="radio" name="responseYN" value=0 >No</input>
            </form>

            <div class="buttons">
              <!-- Button to Skip-->
              <button class="skip" id="skip">Skip</button>
              <!-- Button to submit -->
              <button class="submit" id="submit">Submit</button>
            </div>
        </div>
    </div>
  </div>

  <div class="gTResults-Container-right"> <!-- Modified class name -->
    <p><a href="{{ url_for('resultInfo') }}"><button class="goToResult">Go To Final Results</button></a></p>
  </div>
</div>

<script>
  window.onload = function() {
    var factors = JSON.parse('{{ factors | tojson | safe }}');
    var index = 0;

    function loadFactors() {
      if (index < factors.length) {
        var factorLeading = factors[index].factor_id_leading;
        var factorFollowing = factors[index].factor_id_following;

        $.get('/getInfoLeading/' + factorLeading, function(x) {
          $("#fLeading").html(x);
          $.get('/getInfoFollowing/' + factorFollowing, function(x) {
            $("#fFollowing").html(x);
          });
        });
      } else {
        $("#fLeading").hide()
        $("#fFollowing").html("Finished");
        $("#skip").hide();
        $("#submit").hide();
        $("#myform").hide();
        $("#Arrow").hide();
      }
    }

    document.getElementById("submit").addEventListener("click", function() {
    var rating = document.querySelector('input[name="responseYN"]:checked').value;
    var factorLeading = factors[index].factor_id_leading;
    var factorFollowing = factors[index].factor_id_following;
    $.get('/update_rating/' + factorLeading + '/' + factorFollowing + '/' + rating, function(x) {});
});


    document.getElementById("skip").addEventListener("click", function() {
      index += 1;
      loadFactors();
    });

    document.getElementById("submit").addEventListener("click", function() {
      index += 1;
      loadFactors();
    });

    loadFactors();
  };
</script>
{% endblock %}