{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/result.css') }}">
  <style>
      h1 {
      /* color: #3d5a80; */
      color: #F9943A ;
      font-size: 150px;
      padding-top: 15%;
      text-align: center;
      font-family: 'sans-serif';
  }
  </style>


{% endblock %}

{% block title %}
Result Page
{% endblock %}

{% block content %}

<h1>Please Rate before seeing result</h1>

{% endblock %}
