{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <title>Factor App</title>
</head>

<body>

{% block styles %}
    {{ super() }}
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">
                <h1 class="pt-5 pb-2">Dashboard</h1>
                <p class="lead">Welcome back</p>
                {{ wtf.quick_form(form) }}
                <p class="pt-5"><strong>{{ message }}</strong></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block Participant_content %}
    <h1>Edit Participant</h1>

    <ul>
        <div class="content">
            <div class="form">
                <form action="/edit_participant/{{editPart.username}}" method="POST">
                    <input type="text" name="email" id="email" value="{{editPart.email}}">
                    <input type="text" name="firstName" id="firstName" value="{{editPart.firstName}}">
                    <input type="text" name="lastName" id="lastName" value="{{editPart.lastName}}">
                    <input type="text" name="jobTitle" id="jobTitle" value="{{editPart.jobTitle}}">
                    <input type="text" name="address" id="address" value="{{editPart.address}}">
                    <input type="text" name="state" id="state" value="{{editPart.state}}">
                    <input type="text" name="city" id="city" value="{{editPart.city}}">
                    <input type="text" name="zipCode" id="zipCode" value="{{editPart.zipCode}}">
                    <input type="text" name="country" id="country" value="{{editPart.country}}">
                    <input type="text" name="type" id="type" value="{{editPart.type}}">
                    <input type="text" name="telephone" id="telephone" value="{{editPart.telephone}}">
                    <input type="submit" value="Update">
                </form>
            </div>
        </div>
        {% endfor %}
    </ul>

{% endblock %}
</body>

</html>