h1
{
    font-size:150px;
    margin-top:8%;
    color:#fff6ee
}
p
{
    color:#fff6ee;
    font-size:40px;
    margin-left:10%;
    margin-right:10%;
}
h2
{
    font-size:50px;
    color:#f9943b;
    margin-top:10%;
}