h1
{
    font-size:100px;
    margin-top:8%;
    color:#fff6ee;
    font-family: 'sans-serif';
}
p
{
    color:#fff6ee;
    font-size:30px;
    margin-left:10%;
    margin-right:10%;
    font-family: 'sans-serif';
}
h2
{
    font-size:50px;
    color:#f9943b;
    margin-top:10%;
    font-family: 'sans-serif';
}