/* custom.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
    color: blue;
}

nav {
    background-color: palevioletred;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: white;
    color: black;
}

.content {
    padding: 16px;
}




