/* edit_factor.css */
/* Color Variables */
:root {
  --button_color: #091876;
  --outline: black;
  --text: #091876;
  --main_background: 	#F0F0F0;
  --white: whitesmoke;
}

/* Style for the container */
.container {
  margin-top: 50px;
}

/* Style for the heading */
h1 {
  color: whitesmoke;
  padding-top: 5%;
  padding-left: 0%;
  font-size:50px;
  text-align: center;
}


/* Style for the message */
p {
  font-size: 10px;
  color:#F9943A ;
}

/* Style for the form */
form {
  margin-top: 30px;
}

/* Style for labels */
label {
  font-size: 20px;
  color:#F9943A;
}

/* Style for inputs */
input[type="text"] {
  width: 50%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}


/* Hover effect for the submit button */
button[type="submit"]:hover {
  background-color: #0056b3;
}

.save {
  font-size: 20px;
  padding: 10px;
  background-color: var(--button_color);
  color: var(--white);
  width: 15%;
  border-radius: 4px;
  margin-top: 40px; /* Adding some space above inputs */
  text-align: center;
}