/* "Factors" title */
h1 {
  color: #6707A4;
  padding-top: 5%;
  text-align: center;
}

/* Setup the grid layout for .grid-container */
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto; /* auto for header and form, 1fr for table */
  gap: 10px; /* Space between grid items */
  padding-bottom: 3%;
  font-family: 'Bradley Hand', cursive;
}

/* "Factors" positioning (topmost box in grid) */
.factorPage {
  grid-column: 1 / -1; /* Span across all columns */
  color: #6707A4;
  text-align: center;
  padding: 5%;
}

/* Style for table */
.table {
  width: 75%;
  border-collapse: collapse;
  justify-self: center;
  padding-bottom: 40px;
}

.table th {
  border: 2px solid #480373;
  padding: 8px;
  text-align: center;
  color: whitesmoke;
  background-color: #6707A4;
  font-size: 18px;
  font-weight: normal;
}

.table td {
  border: 2px solid #480373;
  padding: 8px;
  text-align: left;
  background-color: #ad68d8;
}

/* Style the form within the .addFactor container */
.addFactor {
  padding: 5%;
  padding-top: 2%;
  border-style: solid;
  border-color: #6707A4;
  height: 375px;
  width: 70%;
  margin: auto;
  background-color: #E0BBF7;
  border-radius: 4px;
}


.addFactor input[type="text"] {
  padding: 20px;
  margin-top: 25px; /* Adding some space above inputs */
  background-color: #ead2f9;
  border: 2px solid #6707A4;
  border-radius: 4px;
  text-align: left;
  width: 85%;
  padding-right: 60px;
  /*color: #6707A4;
  height: 10%;
  padding-left: 60px; */
}

.addFactor input[type="text"]::placeholder {
  color: #6707A4;
  font-size: 15px;
}

.addFactor input[type="submit"] {
  font-size: 20px;
  padding: 10px;
  background-color: #6707A4;
  color: white;
  width: 30%;
  border-radius: 4px;
  margin-top: 40px; /* Adding some space above inputs */
  text-align: center;
}

.addFactor input:hover[type="submit"] {
  background-color: white;
  color: #480373;
  text-decoration: none;
}

.addFactor h4 {
  color: #6707A4;
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px; /* Space above the form */

}

.gTP-Container {
  justify-content: end;
  padding-top: 3%;
  margin-left: 40%;
  cursor: pointer;
  border-radius: 4px;
}

/* "Go To Participants" button */
.goToParticipant {
  background-color: #6707A4;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding-top: 0.5%;
  justify-self: end;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;
}

.open-button {
  font-size: 20px;
  padding: 10px;
  background-color: #6707A4;
  color: white;
  width: 10%;
  border-radius: 4px;
  margin-top: 40px;
  text-align: center;
  justify-self: center;
}