/* Color Variables */
:root {
  --button_color: #2b4257;
  --outline: black;
  --text: white;
  --main_background: #2b4257;
  --white: whitesmoke;
}

/* General Styles */
h1 {
    color: var(--text);
    padding-top: 5%;
    text-align: center;
}

h2 {
  color: white;
}

h2 a {
  color: orange;
}

#together {
  display: inline;
  font-size: 20px;
}

/* Grid Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'gettingStarted gettingStarted'
    'loadContainer exportContainer'
    'templateContainer exampleContainer';
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  font-family: 'sans-serif';
  padding-bottom: 3%;
}

/* Getting Started */
.gettingStarted {
  grid-area: gettingStarted;
  text-align: center;
  padding: 5%;
}

/* Load Container */
.loadContainer {
  grid-area: loadContainer;
  border-style: solid;
  border-color: orange;
  height: 430px;
  width: 90%;
  justify-self: center;
  margin: 0;
  background-color: var(--main_background);
  border-radius: 4px;
}

/* Export Container */
.exportContainer {
  grid-area: exportContainer;
  border-style: solid;
  border-color: orange;
  height: 430px;
  width: 90%;
  justify-self: center;
  margin: 0;
  background-color: var(--main_background);
  border-radius: 4px;
}

/* Template Container */
.templateContainer {
  grid-area: templateContainer;
  border-style: solid;
  border-color: orange;
  height: 350px;
  width: 90%;
  justify-self: center;
  margin: 0;
  background-color: var(--main_background);
  border-radius: 4px;
}

/* Example Container */
.exampleContainer {
  grid-area: exampleContainer;
  border-style: solid;
  border-color: orange;
  height: 350px;
  width: 90%;
  justify-self: center;
  margin: 0;
  background-color: var(--main_background);
  border-radius: 4px;
}

.shared-style {
  text-align: left;
  color: var(--text);
  max-width: 100%;
  margin: 0;
  height: 10%;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

h4 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

button {
  border-color: white;
}

.load, .export {
  padding-left: 30px;
  padding-right: 30px;
  
}

.loadButton, .exportButton {
  background-color: var(--button_color);
  color: var(--white);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-self: center;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 4px;
}

.load :hover, .export :hover {
  background-color: var(--white);
  color: var(--button_color);
  text-decoration: none;
}
