h1 {
    color: #6707A4;
    padding-top: 5%;
    text-align: center;
  }

.grid-container {
  display: grid;
    grid-template-areas:
      'gettingStarted gettingStarted'
      'loadContainer exportContainer';
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  font-family: 'Bradley Hand', cursive;
}

.gettingStarted {
  grid-column: 1 / -1; /* Span across all columns */
  text-align: center;
  padding: 5%;
}

.loadContainer {
  border-style: solid;
  border-color: #6707A4;
  height: 400px;
  width: 70%;
  justify-self: center;
  margin: 0;
}

.exportContainer {
  border-style: solid;
  border-color: #6707A4;
  height: 400px;
  width: 70%;
  justify-self: center;
  margin: 0;
}

.shared-style {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #6707A4;
  max-width: 100%;
  margin: 0;
  height: 10%;
  padding-top: 15px;
}

h4 {
  margin: 0;
}

.welcome {
  text-align: left;
}

.goToFactor {
  background-color: #6707A4;
  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  padding-top: 0.5%;
  justify-self: end;
}