/* Variable Colors */:root {
    --header: #091876;
}
/* nav css start */
nav{
    font-family: 'sans-serif';
    font-size: 25px;
    z-index: 1000;
    text-align:right;

}
nav a:hover{
    background-color: white;
    padding: 1%;
    color: var(--header);
    transition: background-color 0.3s;
    text-decoration: none;
}

header {
    background-color:#2b4257;
    position: fixed;
    top:16px;
    left: 15px;
    right: 10px;
    display: grid;
    z-index: 1000;
   

    
}
header * {
    display: inline;
    color: whitesmoke;
}

header li {
    margin: 10px;
}
#logoNav
{
    position: fixed;
    left:6px;
    top:0px;
    width:80px;
}