/* Color Variables */
:root {
  --button_color: #2b4257;
  --outline: black;
  --text: #2b4257;
  --main_background: #F0F0F0;
  --white: whitesmoke;
  --orange: #F9943A;
}

/* "Participants" title */
h1 {
  color: white;
  font-size: 60px;
  padding-top: 5%;
  text-align: center;
}

h3 {
  color: white;
  padding-top: 5%;
  text-align: center;
}

h4 {
  margin-top: 5%;
  color: white;
}

h4 a {
  color: orange;
}

/* Setup the grid layout for .grid-container */
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto; /* auto for header and form, 1fr for table */
  gap: 10px; /* Space between grid items */
  padding-bottom: 3%;
  font-family: 'sans-serif';
}

form {
  width: 75%;
  margin: 0 auto;
}

/* Style for table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border: 2px solid var(--orange);
}

th {
  border: 2px solid var(--outline);
  padding: 8px;
  text-align: center;
  color: #f8fbfb;
  background-color: #F9943A;
  font-size: 18px;
  font-weight: normal;
}

td {
  border: 2px solid;
  padding: 8px;
  background-color: #f8fbfb;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.save-button {
  background-color: var(--orange);
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--white);
  color: var(--orange);
}

.SortButton {
  font-size: 20px;
  color: white;
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 110px;
  z-index: 100000;
}

.goToRating, .editPicked {
  background-color: var(--orange);
  border: 2px solid var(--orange);
  color: white;
  position: relative;
}
