  /* "Factors" title */
  h1 {
    color: #6707A4;
    padding-top: 5%;
    text-align: center;
  }
  
  /* Setup the grid layout for .grid-container */
  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto; /* auto for header and form, 1fr for table */
    gap: 10px; /* Space between grid items */
    padding-bottom: 3%;
    font-family: 'Bradley Hand', cursive;
  }
  
  /* "Factors" positioning (topmost box in grid) */
  .ratingPage {
    grid-column: 1 / -1; /* Span across all columns */
    color: #6707A4;
    text-align: center;
    padding: 5%;
  }
  
  /* Style the form within the .addRating container */
  .addRating {
    padding: 5%;
    padding-top: 2%;
    border-style: solid;
    border-color: #6707A4;
    height: 95%;
    width: 90%;
    justify-self: center;
    margin: 0;
    background-color: #E0BBF7;
    border-radius: 4px;
  }
  
  .addRating input[type="text"] {
    padding: 20px;
    margin-top: 25px; /* Adding some space above inputs */
    background-color: #ead2f9;
    border: 2px solid #6707A4;
    border-radius: 4px;
    text-align: left;
    width: 35%;
    padding-right: 60px;
    justify-self: center;
  }
  
  .addRating input[type="text"]::placeholder {
    color: #6707A4;
    font-size: 20px;
    text-align: center;
  }
  
/* Styling for Submit Button */
  .addRating input[type="submit"] {
    font-size: 20px;
    padding: 10px;
    background-color: #6707A4;
    color: white;
    width: 20%;
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    margin-right: 3%;
  }
  
  
  .addRating input:hover[type="submit"] {
    background-color: white;
    color: #480373;
    text-decoration: none;
  } 

  /* Positioning for Display Box */
  .ratingContainer {
    display: grid;
    place-items: center;
  }

  /* Positioning for Buttons (Side-by-side) */
  .buttons {
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .buttons :hover {
    background-color: white;
    color: #480373;
    text-decoration: none;
  }
  /* Styling for Skip Button */
  .skip {
    font-size: 20px;
    padding: 10px;
    background-color: #6707A4;
    color: white;
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    width: 20%;
    cursor: pointer;
    margin-left: 3%;
  }
  
  .addRating h4 {
    color: #6707A4;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Space above the form */
  
  }
  
    /* Styling for Go To Result Button */
  .gTResults-Container {
    justify-self: end;
    padding-top: 1%;
    margin-right: 15%;
    cursor: pointer;
    border-radius: 4px;
  }

  /* Positioning box for flow diagram */
  .box {
    padding: 20px;
    margin-top: 25px; /* Adding some space above inputs */
    background-color: #ead2f9;
    border: 2px solid #6707A4;
    border-radius: 4px;
    width: 95%;
    height: 300px;
    justify-self: center;
  }
  
  /* "Go To Participants" button */
  .goToResult {
    background-color: #6707A4;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    padding-top: 0.5%;
    justify-self: end;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
  }  