/* Color Variables */
:root {
  --button_color: #2b4257;
  --outline: black;
  --text: #2b4257;
  --main_background: 	#F0F0F0;
  --white: whitesmoke;
  --orange:#F9943A;
}

  /* "Factors" title */
  h1 {
    color: var(--white);
    padding-top: 5%;
    text-align: center;
    font-size:60px;
  }
h3
{

  color: var(--white);
}
  
  /* Setup the grid layout for .grid-container */
  .grid-container {
    display: grid;
    grid-template-rows: auto auto auto; /* auto for header and form, 1fr for table */
    gap: 10px; /* Space between grid items */
    padding-bottom: 3%;
    font-family: 'sans-serif';
  }
  
  /* "Factors" positioning (topmost box in grid) */
  .ratingPage {
    grid-column: 1 / -1; /* Span across all columns */
    color: var(--button_color);
    
    padding: 5%;
  }
  
  /* Style the form within the .addRating container */
  .addRating {
    padding: 5%;
    padding-top: 2%;
    border-style: solid;
    border-color: var(--orange);
    height: 95%;
    width: 90%;
    justify-self: center;
    margin: 0;
    background-color: var(--main_background);
    border-radius: 4px;
    border-width: 7px;
  }
  
  .addRating input[type="text"] {
    padding: 20px;
    margin-top: 25px; /* Adding some space above inputs */
    background-color: var(--white);
    border: 2px solid var(--button_color);
    border-radius: 4px;
    text-align: left;
    width: 35%;
    padding-right: 60px;
    justify-self: center;
  }
  
  .addRating input[type="text"]::placeholder {
    color: var(--button_color);
    font-size: 20px;
    text-align: lefy;
  }
  
/* Styling for Submit Button */
  .addRating input[type="submit"] {
    font-size: 20px;
    padding: 10px;
    background-color: var(--button_color);
    color: var(--white);
    width: 20%;
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    margin-right: 3%;
  }
  
  
  .addRating input:hover[type="submit"] {
    background-color: var(--white);
    color: var(--button_color);
    text-decoration: none;
  } 

  /* Positioning for Display Box */
  .ratingContainer {
    display: grid;
    place-items: center;
  }

  /* Positioning for Buttons (Side-by-side) */
  .buttons {
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  .buttons :hover {
    background-color: var(--white);
    color: var(--button_color);
    text-decoration: none;
  }
  /* Styling for Skip Button */
  .skip {
    font-size: 20px;
    padding: 10px;
    background-color: var(--button_color);
    color: var(--white);
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    width: 20%;
    cursor: pointer;
    margin-left: 3%;
  }

  .submit {
    font-size: 20px;
    padding: 10px;
    background-color: var(--button_color);
    color: var(--white);
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    width: 20%;
    cursor: pointer;
    margin-left: 3%;
  }

  p {
    font-size: 20px;
    font-family: 'sans serif';
    color: var(--text);
    font-weight: bold;
    text-align: left;
  }

  

  /* .ID {
    font-size: 20px;
    font-family: 'sans serif';
    color: var(--text);
    font-weight: bold;
    text-align: left;
  } */
  
  .addRating h4 {
    color: var(--button_color);
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; /* Space above the form */
  
  }
  
    /* Styling for Go To Result Button */
  .gTResults-Container {
    justify-self: end;
    padding-top: 1%;
    margin-right: 15%;
    cursor: pointer;
    border-radius: 4px;
  }

  /* Positioning box for flow diagram */
.box
{
   border-top: 2px solid var(--button_color);
    border-radius: 4px;
}
.box2 {
  display: grid;
  grid-template-areas:
  
    'fLeading Arrow fFollowing';
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  font-family: 'sans-serif';
  padding-bottom: 3%;
}
  
  /* "Go To Participants" button */
  .goToResult {
    float: right;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding-top: 0.5%;
    justify-self: end;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    border-color:var(--orange)
  }  
.guide
{
  text-align:center;
  font-size:25px;
}
.fFollowing
{
  margin-top:20px;
  font-size:30px;
}
.fLeading
{
  margin-top:20px;
  font-size:30px;
}
#myform
{
  font-size:20px;
}
#Arrow
{
  margin-left:40%;
  margin-top:56px;
}
#finished
{
  position:relative;
  font-size:40px;
  left:100%;
}

