  /* Color Variables */
:root {
  --button_color: #091876;
  --outline: black;
  --text: #091876;
  --main_background: 	#F0F0F0;
  --white: whitesmoke;
  --orange:#F9943A;
}
  
  /* "Factors" title */
  h1 {
    color: var(--button_color);
    padding-top: 5%;
    text-align: center;
  }

  /* Setup the grid layout for .grid-container */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'sans-serif';
    border-color: var(--button_color);
  }
  
  /* "Factors" positioning (topmost box in grid) */
  .resultPage {
    grid-column: 1 / -1; /* Span across all columns */
    color: var(--button_color);
    text-align: center;
    margin-top:10%;
  }
  
 /* Style the form within the .results container */
  .results{
    padding: 5%;
    padding-top: 2%;
    border-style: solid;
    border-color: var();
    justify-self: center;
    margin: 0;
    background-color: var(--main_background);
    border-radius: 4px;
    display: flex; /* Added for flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    flex-direction: column; /* Stack children vertically */
  }

  /* Positioning for Display Box */
  .ratingContainer {
    display: grid;
    place-items: center;
  }

  /* Styling for Save PNG Button */
  .image {
    font-size: 20px;
    padding: 10px;
    background-color: var(--button_color);
    color: var(--white);
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    width: 20%;
    cursor: pointer;
    margin-left: 3%;
  }

  /* Styling for Save PNG Button */
  .image {
    font-size: 20px;
    padding: 10px;
    background-color: var(--button_color);
    color: var(--white);
    border-radius: 4px;
    margin-top: 40px; /* Adding some space above inputs */
    text-align: center;
    width: 20%;
    cursor: pointer;
    margin-left: 3%;
  }

  
  /* Styling for Go To Result Button */
  .saveImage {
    justify-self: end;
    padding-top: 1%;
    margin-right: 15%;
    cursor: pointer;
    border-radius: 4px;
  }

  /* Positioning box for flow diagram, updated for dynamic height */
  .box {
    padding: 20px;
    background-color: var(--white);
    border: 2px solid var(--button_color);
    border-radius: 4px;
    width: auto; /* Adjusted to auto for flexibility */
    justify-self: center;
    display: flex; /* Utilizes flexbox to center the image */
    justify-content: center;
    align-items: center;
  }

  /* Ensures the image is responsive and scales within its container */
  .box img {
    max-width: 100%; /* Ensures the image is never wider than its container */
    height: auto; /* Scales the height automatically based on the width */
    display: block; /* Prevents any unnecessary margin/padding around the image */
  }
 
  /* "Go To Participants" button */
  .savePNG {
    background-color: var(--button_color);
    color: var(--white);
    text-align: center;
    text-decoration: none;
    padding-top: 0.5%;
    justify-self: end;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
  }  

/* Style for table */
.table {
    width: 85%;
    border-collapse: collapse;
    justify-self: center;
    padding-bottom: 40px;
    margin-top: 40px;
  }
  
.table th {
    border: 2px solid var(--outline);
    padding: 8px;
    text-align: center;
    color: var(--white);
    background-color: var(--button_color);
    font-size: 18px;
    font-weight: normal;
  }
  
.table td {
    border: 2px solid var(--outline);
    padding: 8px;
    text-align: left;
    background-color: var(--main_background);
  }
  #buttonDownload
{
    border-color:var(--orange);
    background-color:var(--orange);
    color:white;
    border-bottom-left-radius:10px;
     border-bottom-right-radius:10px;
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    position:relative;
    right:0%;
    top:10%;
}
.finished
{
  font-size:50px;
  margin-left:100%;
 
}
#imageDIV{
  background-color:white;
}
