/* Color Variables */
:root {
    --text: #091876;
    --white: whitesmoke;
  }

body {
    background-color: #2b4257;
    padding: unset;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    padding: unset;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 7%;
    padding-left: 35%;
    text-align: left;
    grid-template-rows: auto;
}

p {
    color: var(--text);
    font-family: sans-serif;
}
h1
{
    font-family: sans-serif;
}
h2
{
    font-family: sans-serif;
}
h3
{
    font-family: sans-serif;
}
h4
{
    font-family: sans-serif;
}