 body {
    background-color: #EFDAFC;
    padding: unset;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container{
    padding: unset;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 7%;
    padding-left: 35%;
    text-align: center;
    color: #7A5C58;
    grid-template-rows: auto;
}